

form {
  width: 37%;
  background: white;
  box-shadow: 1px 1px 8px -4px black;
  border-radius: 2px;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 0;
  position: relative;
}

.search-bar {
  border: none;
  outline: none;
  font-family: boldFont;
  color: var(--dark-gray);
  font-size: 1.1rem;
  width: calc(100% - 2.7rem);
  margin-left: 2.7rem;
  background: white;
}


.search-bar::placeholder {
  color: var(--dark-gray);
  font-size: 0.9rem;
  font-family: regularFont;
}

.icon-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  color: var(--dark-gray);
}

.dark {
  background: var(--dark-blue);
  color: var(--white);
}

.dark::placeholder {
  color: var(--white);
  font-size: 0.9rem;
  font-family: regularFont;
  opacity: 0.9;
}


/* Media Queries */

     
@media screen and (max-width: 999px) {
  form {
  
    width: 45%;
  }
}  


@media screen and (max-width: 899px) {
  form {
  
    width: 50%;
  }
}  


@media screen and (max-width: 799px) {
  form {
  
    width: 55%;
  }

  .search-bar {
   
    font-size: 1rem;

  }
}  