

.header {
  display: flex;
  align-items: center;
  padding: 1.5rem 4rem;
  background: white;
  box-shadow: 1px 1px 10px -6px black;

}

.head {
  font-family: extraBoldFont;

 
}

.dark {

  background: var(--dark-blue);
  color: white;
}
