

.header {
  display: flex;
  align-items: center;
  padding: 1.5rem 4rem;
  background: white;
  box-shadow: 1px 1px 10px -6px black;

}

.head {
  font-family: extraBoldFont;

 
}

.dark {

  background: var(--dark-blue);
  color: white;
}


/* Media Queries */

@media screen and (max-width: 1299px) and (min-width: 700px) {
.header {
  padding: 1.5rem 3rem;
}

}

@media screen and (max-width: 999px) {

.head {

  font-size: 1.3rem;
}
  
}

@media screen and (max-width: 799px) {
  .header {
    padding: 1.5rem 2.5rem;
  }
  
  }

  
@media screen and (max-width: 599px) {
  .head {

    font-size: 1.2rem;
  }
    
  
  }

  @media screen and (max-width: 399px) {
    .head {
  
      font-size: 0.9rem;
    }
      
    .header {
      padding: 1.5rem 1rem;
    }
    
    }

      @media screen and (max-width: 299px) {
       .header {
        flex-direction: column;
        align-items: flex-start;
        
       }
      }