

.mode {
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  user-select: none;
}

.mode:hover {

  opacity: 0.8;
}

.mode:active {

  transform: translateY(1px);
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.icon {
  fill: none;
  width: 1.2rem;
  height: 1.2rem;
}

.mode-type {
  font-family: boldFont;
}

/* Media Queries */


@media screen and (max-width: 899px) {
 
  .mode {

    font-size: 0.9rem;
  }

  
.icon {

  width: 1.1rem;
  height: 1.1rem;
}
}  