

.mode {
  display: flex;
  align-items: center;
  margin-left: auto;
  cursor: pointer;
  user-select: none;
}

.mode:hover {

  opacity: 0.8;
}

.mode:active {

  transform: translateY(1px);
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.icon {
  fill: none;
  width: 1.2rem;
  height: 1.2rem;
}

.mode-type {
  font-family: boldFont;
}

